.footer {
    background-color: rgb(236, 184, 7);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

footer p {
    color: #1d809f;
    font-size: 16px;
    font-weight: 500;
}

footer > .row {
    display:flex;
    justify-content: space-evenly;
    margin: 10px;
}

footer > .row span {
    background-color: #1d809f;
    width: 75px;
    height: 75px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    font-size: 36px;
    line-height: 85px;
}